body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}
footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 0.9em;
}
a {
    text-decoration: none;
    color: #999;
    font-family: 'Montserrat', sans-serif;

}
a:hover {
    text-decoration: underline;
}

li {
    color: #999;
    font-family: 'Montserrat', sans-serif;

}
h1 {
    font-size: 5em;
    font-family: 'PT Serif', serif;
    padding: 0;
    margin: 0 0 0.2em 0;
}
h2 {
    font-size: 2em;
    font-family: 'PT Serif', serif;


}
h3 {
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    padding: 0;
    margin: 0 0 0.2em 0;
    color: darkgrey;

}

h4 {
    font-size: 1.2em;
    font-family: 'PT Serif', serif;
    padding: 0;
    margin: 0 0 1em 0;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
    color: #333;
    padding: 0;
    margin: 0 0 1em 0;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;

}

ul.posts li {
    list-style: none;
}

ul.records {
    margin: 20px auto 40px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;

}

ul.records li {
    list-style: none;
}

hr.cv {
    margin-top: 3em;
    color: #d5d5d5;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;

}

.column-left {
    width: 25%;
}

.column-right {
    width: 75%;
}
