<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif:wght@400&display=swap" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
					<li><a href="/links">Links</a></li>
					<li style="float: right;"><a href="/blog">Blog</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li style="float: left;">Last updated on December 28 2020</li>
	        		<li style="float: right;"><a href="mailto:xpyx@xpyx.fi">email</a></li>
	        		<li style="float: right;"><a href="https://github.com/xpyx">github.com/xpyx</a></li>

				</ul>
			</footer>
		</body>
	</html>
